<div
        style="position: fixed; top: 0; padding-left: 16px;   background-image: linear-gradient(120deg, #155799, #159957); width: 100%; height: 76px;">
    <a href="{{ site.baseurl }}/index"><h2 style="color: white; display: inline-block;">ArchGuard</h2></a>
    <div style="display: inline-block;padding-right: 2rem;float: right;margin-block-start: 1.5rem;">
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/models">评估模型</a>
<!--        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/model-tools">评估工具</a>-->
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/operationManual">操作手册</a>
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/cases">改造案例</a>
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/tools">改造工具</a>
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/resources">相关资料</a>
        <a style="color: white; margin-left: 10px;" href="{{ site.baseurl }}/aboutUs">关于我们</a>
    </div>

</div>