<!DOCTYPE html>
<html lang="{{ site.locale }}">

{% include head.html %}

<body>
{% include menu.html %}

<section class="main-content" style="display: flex; justify-content: center; height: 50rem">
    <div style="width: 80%; padding-top: 6rem">
        <div class="left">
            <ul>
                <li><a class="tool" id="menu-评估模型" href="/models#评估模型" title="评估模型">评估模型</a>
                    <ul>
                        <li><a class="tool" id="menu-市场响应力评估模型" href="/models#市场响应力评估模型" title="市场响应力评估模型">市场响应力评估模型</a>
                        </li>
                        <li><a class="tool" id="menu-质量评估模型" href="/models#质量评估模型" title="质量评估模型">质量评估模型</a></li>
                        <li><a class="tool" id="menu-可用性评估模型" href="/models#可用性评估模型" title="可用性评估模型">可用性评估模型</a></li>
                        <li><a class="tool" id="menu-开放性评估模型" href="/models#开放性评估模型" title="开放性评估模型">开放性评估模型</a></li>
                    </ul>
                </li>
                <li><a class="tool" id="menu-评估维度" href="/models#评估维度" title="评估维度">评估维度</a>
                    <ul>
<!--                        <li><a class="tool" id="menu-变更影响" href="/models#变更影响" title="变更影响">变更影响</a></li>-->
<!--                        <li><a class="tool" id="menu-模块耦合" href="/models#模块耦合" title="模块耦合">模块耦合</a></li>-->
<!--                        <li><a class="tool" id="menu-数据库耦合" href="/models#数据库耦合" title="数据库耦合">数据库耦合</a></li>-->
<!--                        <li><a class="tool" id="menu-敏捷成熟度" href="/models#敏捷成熟度" title="敏捷成熟度">敏捷成熟度</a></li>-->
<!--                        <li><a class="tool" id="menu-基础设施" href="/models#基础设施" title="基础设施">基础设施</a></li>-->
<!--                        <li><a class="tool" id="menu-测试保护" href="/models#测试保护" title="测试保护">测试保护</a></li>-->
                        <li><a class="tool" id="menu-分层架构" href="/models#分层架构" title="分层架构">分层架构</a></li>
<!--                        <li><a class="tool" id="menu-API规范" href="/models#API规范" title="API规范">API规范</a></li>-->
                        <li><a class="tool" id="menu-代码规范" href="/models#代码规范" title="代码规范">代码规范</a></li>
                        <li><a class="tool" id="menu-安全" href="/models#安全" title="安全">安全</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right">
            {{ content }}
        </div>
    </div>

</section>

{% include page-footer.html %}

</body>

</html>